[submodule "stl"]
	path = md.stl
	url = https://github.com/coders-school/stl.git
[submodule "object-oriented-programming"]
	path = md.oop
	url = https://github.com/coders-school/object-oriented-programming.git
[submodule "testing"]
	path = md.testing
	url = https://github.com/coders-school/testing.git
[submodule "good-practices"]
	path = md.good-practices
	url = https://github.com/coders-school/good-practices.git
[submodule "cmake"]
	path = md.cmake
	url = https://github.com/coders-school/cmake.git
[submodule "qa-sessions"]
	path = md.qa
	url = https://github.com/coders-school/qa-sessions.git
[submodule "cpp-fundamentals"]
	path = md.cpp-fundamentals
	url = https://github.com/coders-school/cpp-fundamentals.git
[submodule "modern-cpp"]
	path = md.modern-cpp
	url = https://github.com/coders-school/modern-cpp.git
[submodule "templates"]
	path = md.templates
	url = https://github.com/coders-school/templates.git
